In [124]:
import numpy as np
import pandas as pd
import re
from functools import reduce

In [181]:
#显示所有列
pd.set_option('display.max_columns', None)
#显示所有行
pd.set_option('display.max_rows', None)
#设置value的显示长度为100，默认为50
pd.set_option('max_colwidth',100)

In [2]:
pwd

'/Users/hwang/Desktop/repo/academic-libraries-in-China'

In [97]:
# dirName = [ 'A1_total_floor_plan', 'A31_staff', 'A32_contract_staff', 'A33_casual_staff',
#             'B_annual_expenditure', 'B1_expenditure_on_literature', 'B11_expenditure_on_print_literature',
#             'B12_expenditure_on_electronic_literature', 'D_total_collection', 'D11_total_print_books',
#             'D12_total_electronic_books', 'D21_total_print_journals', 'D22_total_electronic_journals',
#             'E1_total_seats', 'F2_opening_hours_per_week', 'G1_loan', 'G2_ILL_borrowing', 'G3_ILL_lending',
#             'G4_document_delivery_request', 'G5_document_delivery', 'G6_download', 'H1_information_literacy_education'
#            ]

# G3 is broken
dirName = [ 'A1_total_floor_plan', 'A31_staff', 'A32_contract_staff', 'A33_casual_staff',
            'B_annual_expenditure', 'B1_expenditure_on_literature', 'B11_expenditure_on_print_literature',
            'B12_expenditure_on_electronic_literature', 'D_total_collection', 'D11_total_print_books',
            'D12_total_electronic_books', 'D21_total_print_journals', 'D22_total_electronic_journals',
            'E1_total_seats', 'F2_opening_hours_per_week', 'G1_loan', 'G2_ILL_borrowing'
            'G4_document_delivery_request', 'G5_document_delivery', 'G6_download', 'H1_information_literacy_education'
           ]

In [167]:
# excel filename, remain the same across all directories
fileName = ['analysis'+str(year)+'.xls' for year in range(2010, 2019+1)]

In [162]:
# list of dataframes containing all data given one field name
dfs=[pd.read_excel(open('./raw/'+dirName[0]+'/'+filename, 'rb'),
                   usecols=[1,2],
                   names=['school', 'data'],
                   dtype={'school':np.object, 'data': np.float64})
 for filename in fileName]

In [163]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['school'],
                                            how='outer'), dfs)

In [174]:
# rename columns
df_merged.columns=['school']+[str(year) for year in range(2010, 2019+1)]

In [ ]:
# check if there are same school

In [179]:
df_merged.duplicated('school')

0       False
1       False
2       False
3       False
4       False
        ...
1632    False
1633    False
1634    False
1635    False
1636    False
Length: 1637, dtype: bool

In [182]:
df_merged[df_merged.duplicated('school', keep=False)]

,school,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
5,南京大学图书馆,73100.000000,73100.000000,73100.000000,NaN,73100.000000,73100.000000,73100.000000,73100.000000,NaN,73100.000000
6,南京大学图书馆,73100.000000,73100.000000,73100.000000,NaN,12900.000000,73100.000000,73100.000000,73100.000000,NaN,73100.000000
23,东南大学图书馆,57812.000000,NaN,66900.000000,66900.000000,66900.000000,66900.000000,66900.000000,66900.000000,66900.000000,66900.000000
24,东南大学图书馆,57812.000000,NaN,66900.000000,66900.000000,66900.000000,66900.000000,53800.000000,66900.000000,66900.000000,66900.000000
41,山东理工大学图书馆,49000.000000,49000.000000,49000.000000,49000.000000,NaN,NaN,NaN,NaN,NaN,49000.000000
42,山东理工大学图书馆,49000.000000,49000.000000,49000.000000,7675.000000,NaN,NaN,NaN,NaN,NaN,49000.000000
114,湖南大学图书馆,30300.000000,30300.000000,30300.000000,30300.000000,30300.000000,42000.000000,30497.910156,30497.910156,33497.910156,33497.910156
115,湖南大学图书馆,30300.000000,30300.000000,30300.000000,30300.000000,30300.000000,30300.000000,30497.910156,30497.910156,33497.910156,33497.910156
143,内蒙古工业大学图书馆,27374.720703,27374.720703,27374.720703,27374.720703,27800.000000,27374.720703,27374.720703,27374.720703,27374.720703,27704.960938
144,内蒙古工业大学图书馆,27374.720703,27374.720703,27374.720703,27374.720703,27374.720703,27374.720703,27374.720703,27374.720703,27374.720703,27704.960938
153,承德民族师范高等专科学校图书馆,26680.000000,49791.000000,NaN,26880.000000,NaN,NaN,NaN,NaN,NaN,NaN
154,承德民族师范高等专科学校图书馆,26680.000000,26680.000000,NaN,26880.000000,NaN,NaN,NaN,NaN,NaN,NaN
160,南京航空航天大学图书馆,26000.000000,26000.000000,26000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,42000.000000,43500.000000
161,南京航空航天大学图书馆,26000.000000,26000.000000,26000.000000,42000.000000,42000.000000,42000.000000,12000.000000,42000.000000,42000.000000,43500.000000
184,中央民族大学图书馆,24500.000000,24500.000000,24500.000000,24500.000000,NaN,NaN,NaN,NaN,24500.000000,33528.000000
185,中央民族大学图书馆,24500.000000,24500.000000,24500.000000,24500.000000,NaN,NaN,NaN,NaN,24500.000000,24500.000000
202,南宁师范大学图书馆,23093.000000,23093.000000,23093.000000,23093.000000,NaN,22593.000000,NaN,NaN,28093.000000,48399.000000
203,南宁师范大学图书馆,23093.000000,23093.000000,23093.000000,23093.000000,NaN,22593.000000,NaN,NaN,28093.000000,28093.000000
314,河北政法职业学院图书馆,14098.000000,NaN,NaN,14098.000000,NaN,NaN,NaN,13313.000000,NaN,13313.000000
315,河北政法职业学院图书馆,14098.000000,NaN,NaN,14098.000000,NaN,NaN,NaN,13313.000000,NaN,5800.000000
316,北京交通大学图书馆,14056.000000,NaN,NaN,NaN,NaN,NaN,13887.900391,NaN,31516.900391,31516.900391
317,北京交通大学图书馆,14056.000000,NaN,NaN,NaN,NaN,NaN,13887.900391,NaN,13887.900391,31516.900391
330,攀枝花学院图书馆,13100.000000,NaN,16889.000000,16889.000000,16889.000000,16889.000000,16889.000000,18514.000000,18514.000000,18514.000000
331,攀枝花学院图书馆,13100.000000,NaN,16889.000000,16889.000000,16889.000000,16889.000000,15100.000000,18514.000000,18514.000000,18514.000000
332,攀枝花学院图书馆,13100.000000,NaN,16889.000000,16889.000000,16889.000000,15100.000000,16889.000000,18514.000000,18514.000000,18514.000000
333,攀枝花学院图书馆,13100.000000,NaN,16889.000000,16889.000000,16889.000000,15100.000000,15100.000000,18514.000000,18514.000000,18514.000000
380,中国矿业大学（北京）图书馆,10062.000000,NaN,NaN,10047.000000,NaN,14807.000000,NaN,NaN,14062.000000,NaN
381,中国矿业大学（北京）图书馆,10062.000000,NaN,NaN,10047.000000,NaN,10047.000000,NaN,NaN,14062.000000,NaN
481,铜仁学院图书馆,3466.500000,3466.500000,3466.500000,3466.500000,11000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
482,铜仁学院图书馆,3466.500000,3466.500000,3466.500000,3466.500000,3466.500000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
485,四川水利职业技术学院图书馆,3370.000000,NaN,12000.000000,NaN,12000.000000,13000.000000,26600.000000,12000.000000,12000.000000,12000.000000
486,四川水利职业技术学院图书馆,3370.000000,NaN,12000.000000,NaN,12000.000000,13000.000000,15000.000000,12000.000000,12000.000000,12000.000000
526,沈阳音乐学院图书馆,0.000000,7750.000000,7750.000000,3700.000000,4447.000000,4447.000000,NaN,4447.000000,5350.000000,NaN
527,沈阳音乐学院图书馆,0.000000,7750.000000,7750.000000,3700.000000,4447.000000,4447.000000,NaN,4447.000000,5250.000000,NaN
607,扬州市职业大学图书馆,NaN,25460.230469,25460.230469,25460.230469,27210.000000,27210.000000,27210.000000,25737.500000,25737.500000,25737.500000
608,扬州市职业大学图书馆,NaN,25460.230469,25460.230469,25460.230469,27210.000000,27210.000000,21000.000000,25737.500000,25737.500000,25737.500000
654,四川工商职业技术学院图书馆,NaN,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13870.000000
655,四川工商职业技术学院图书馆,NaN,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13630.000000,13830.000000
795,青海民族大学图书馆,NaN,NaN,10813.000000,10813.000000,NaN,10813.000000,16766.000000,22021.000000,22021.000000,NaN
796,青海民族大学图书馆,NaN,NaN,10813.000000,10813.000000,NaN,10813.000000,10813.000000,22021.000000,22021.000000,NaN
874,广州工商学院图书馆,NaN,NaN,NaN,21302.000000,21302.000000,21302.000000,21302.000000,22572.000000,31672.640625,34990.808594
875,广州工商学院图书馆,NaN,NaN,NaN,21302.000000,21302.000000,21302.000000,21302.000000,22572.000000,31672.640625,6347.500000
884,广东培正学院图书馆,NaN,NaN,NaN,18830.000000,18830.000000,18830.000000,19390.000000,18330.000000,18330.000000,NaN
885,广东培正学院图书馆,NaN,NaN,NaN,18830.000000,18830.000000,18830.000000,18830.000000,18330.000000,18330.000000,NaN
926,北京第二外国语学院中瑞酒店管理学院图书馆,NaN,NaN,NaN,7600.000000,NaN,NaN,NaN,NaN,16000.000000,NaN
927,北京第二外国语学院中瑞酒店管理学院图书馆,NaN,NaN,NaN,7600.000000,NaN,NaN,NaN,NaN,7600.000000,NaN
947,广州工程技术职业学院图书馆,NaN,NaN,NaN,4751.299805,4750.000000,5247.000000,5247.000000,5247.000000,5247.000000,5247.000000
948,广州工程技术职业学院图书馆,NaN,NaN,NaN,4751.299805,4750.000000,5247.000000,5247.000000,4730.000000,5247.000000,5247.000000
989,景德镇陶瓷大学图书馆,NaN,NaN,NaN,NaN,27900.000000,27900.000000,21000.000000,21000.000000,21000.000000,21000.000000
990,景德镇陶瓷大学图书馆,NaN,NaN,NaN,NaN,27900.000000,27900.000000,21000.000000,21000.000000,20936.339844,21000.000000
1022,中央财经大学图书馆,NaN,NaN,NaN,NaN,10904.000000,NaN,NaN,NaN,36481.511719,36481.511719
1023,中央财经大学图书馆,NaN,NaN,NaN,NaN,10904.000000,NaN,NaN,NaN,36481.511719,17479.509766
1045,齐齐哈尔工程学院图书馆,NaN,NaN,NaN,NaN,4053.860107,NaN,4053.860107,NaN,NaN,NaN
1046,齐齐哈尔工程学院图书馆,NaN,NaN,NaN,NaN,4053.860107,NaN,715.760010,NaN,NaN,NaN
1058,牡丹江师范学院图书馆,NaN,NaN,NaN,NaN,NaN,40000.000000,20300.000000,20300.000000,20300.000000,NaN
1059,牡丹江师范学院图书馆,NaN,NaN,NaN,NaN,NaN,26500.000000,20300.000000,20300.000000,20300.000000,NaN
1171,长沙理工大学图书馆,NaN,NaN,NaN,NaN,NaN,NaN,60562.000000,60562.000000,60562.000000,60562.000000
1172,长沙理工大学图书馆,NaN,NaN,NaN,NaN,NaN,NaN,60562.000000,60562.000000,60562.000000,47640.000000
1219,景德镇学院图书馆,NaN,NaN,NaN,NaN,NaN,NaN,20870.000000,20870.000000,20870.000000,47670.238281
1220,景德镇学院图书馆,NaN,NaN,NaN,NaN,NaN,NaN,20870.000000,20870.000000,20870.000000,30312.000000
1286,四川中医药高等专科学校图书馆,NaN,NaN,NaN,NaN,NaN,NaN,6000.000000,6300.000000,8553.000000,12000.000000
1287,四川中医药高等专科学校图书馆,NaN,NaN,NaN,NaN,NaN,NaN,6000.000000,6300.000000,8553.000000,8975.000000
1494,湖南幼儿师范高等专科学校图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10717.419922,NaN
1495,湖南幼儿师范高等专科学校图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10702.000000,NaN

In [175]:
df_merged

,school,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,中山大学图书馆,116660.0,107000.0,107000.000000,116660.0,116660.000000,116660.0,116660.000000,116660.000000,116660.000000,111660.000000
1,扬州大学图书馆,95453.0,95453.0,95453.000000,78077.0,75177.000000,75177.0,75177.000000,75177.000000,76819.117188,75177.000000
2,浙江大学图书馆,86376.0,86376.0,86376.000000,86376.0,86376.000000,NaN,86376.000000,86376.000000,86376.000000,86376.000000
3,郑州大学图书馆,84000.0,84000.0,NaN,84323.0,84323.000000,84000.0,NaN,84000.000000,84000.000000,NaN
4,上海交通大学图书馆,82599.5,82599.5,57580.769531,49296.0,61219.558594,64194.0,61695.558594,61695.328125,61696.000000,61694.558594
...,...,...,...,...,...,...,...,...,...,...,...
1632,山西管理职业学院图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2106.000000
1633,抚州幼儿师范高等专科学校图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2045.640015
1634,甘肃建筑职业技术学院图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1800.000000
1635,山西金融职业学院图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,956.599976
1636,山东特殊教育职业学院图书馆,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,540.000000